---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Web Developer",
    company: "Fiverr",
    description:
      "Desarrollar sitios web profesionales y funcionales utilizando HTML, CSS, JavaScript y Bootstrap. Crear dise침os responsivos y r치pidos que fueran f치ciles de navegar. Cumplir con los est치ndares de calidad de W3C.",
    link: "https://es.fiverr.com/deniskawata",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>